{% extends 'base.html' %}

{% block title %}{{ _('Forecast') }} | SkySQI{% endblock %}

{% block content %}
<main class="forecast-container">
    <h1 class="forecast-heading">{{ _('5-Day Weather & AQI Forecast') }}</h1>

    <div class="forecast-grid">
        {% for date, entries in forecast.items() %}
        <div class="forecast-card">
            <h2>{{ date }}</h2> 
            
            {% set first_entry = entries[0] %}
            <img src="http://openweathermap.org/img/wn/{{ first_entry.weather[0].icon }}.png" alt="{{ _('Weather icon') }}">
            
            <p>{{ _('Temp') }}: {{ first_entry.main.temp }}° {{ _('C') if current_user.temp_unit == 'Celsius' else _('F') }}</p>
            
            {% if first_entry.aqi %}
            <p>{{ _('AQI') }}: {{ first_entry.aqi.value }} ({{ first_entry.aqi.category }})</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}